# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode string covers both the .vscode folder and .vscode files in the repo
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
